/*Fondo gris y aros blancos*/
#info{
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
}
#info .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.vistas-ec{
	margin: 20px;
}
.vistas-ec img{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 7px solid #fff;
}
/*.vistas-ec img:hover{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 6px solid #fff;
	cursor: pointer;
}*/
@media (min-width: 480px){
	.vistas-ec{
		width: 40%;
	}
}
@media (min-width: 1000px){
	.vistas-ec{
		width: auto;
	}
}
/*Fondo blanco y aros gris*/
#infob{
	background: white;
	color: #333;
	text-align: center;
	padding: 20px;
}
#infob .contenedorb{
	width: 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.vistas-ecb{
	margin: 20px;
}
.vistas-ecb img{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border-color: #333;
	border: 7px solid #333;
}
@media (min-width: 480px){
	.vistas-ecb{
		width: 40%;
	}
}
@media (min-width: 1000px){
	.vistas-ecb{
		width: auto;
	}
}
